.nevber{
    margin-right: 2rem ;
    display: flex;
    gap: 1rem;
    justify-content: right;
    padding: 1rem 0;
}

.header{
    display: flex;
    color: #f5c518;
    justify-content: center;
}

a{
    text-decoration: none;
    color: 141414;
    background-color:#f5c518;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease, color 0.2s ease;
    font-weight: bold;
}

a:hover{
    background-color:#f5c518 ;
    color: #141414;
    font-weight: bold;
}

footer{
    display: flex;
    justify-content: center;
}